@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.imgContainer > * {
  flex: 1 1 auto;
}

.text-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #be7acf 0.89%,
    #bf6bcf 17.23%,
    
    #8e3db4 55.12%,
    #8e25d4 71.54%,
    #7522e0 100%
  );/*#7fe2e6 42.04%, */

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.text-gradient2 {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #d291e2 0.89%,
    #d886e9 17.23%,
    
    #bf7fdd 55.12%,
    #a861d8 71.54%,
    #803cce 100%
  );/*#7fe2e6 42.04%, */

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}


@layer base {
  * {
    @apply font-[poppins]
  }
}